<ng-container *ngIf="products$ | async; let products; else: loading">
  <section class="container pt-3 pb-5 pb-md-6 mb-2 mb-lg-0">
    <div class="d-flex justify-content-between m-2">
      <h3>Productos con el termino '{{ term }}'</h3>
      <p class="font-size-sm font-weight-medium pl-md-4">
        <a
          class="text-nowrap"
          href="javascript:window.history.back()"
          rel="noopener"
          ><i class="cxi-angle-left font-size-base align-middle ml-1"></i>Ir
          atrás</a
        >
      </p>
    </div>
    <hr />
    <div class="row flex-lg-nowrap mt-3">
      <!-- Product grid -->
      <div class="col">
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3"
          data-filters-columns
        >
          <!-- Item -->
          <ng-container *ngFor="let product of products; let i = index">
            <Card-product
              [otherVarieties]="product.varieties[0].units"
              [colors]="product.varieties[1].units"
              [product]="product"
            ></Card-product>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<ng-template #loading>
  <Loading></Loading>
</ng-template>
