<div class="col pb-sm-2 mb-grid-gutter">
  <div class="card card-product mx-auto">
    <div class="card-product-img">
      <a class="card-img-top pointer" (click)="goToProductDetail(product.slug)">
        <img [src]="getImg(product.cover)" [alt]="product.cover" />
      </a>
      <div class="card-product-widgets-top">
        <div class="star-rating ml-auto">
          <ng-container *ngFor="let star of [].constructor(product.stars)">
            <i class="sr-star cxi-star-filled active"></i>
          </ng-container>
        </div>
      </div>
      <div class="card-product-widgets-bottom">
        <a
          href="#"
          class="btn-wishlist ml-auto"
          data-toggle="tooltip"
          data-placement="left"
          title="Add to wishlist"
        ></a>
      </div>
    </div>
    <div class="card-body pb-2">
      <h3 class="card-product-title text-truncate mb-2">
        <a href="shop-single.html" class="nav-link">{{ product.name }}</a>
      </h3>
      <div class="d-flex align-items-center">
        <span class="h5 d-inline-block mb-0">${{ product.price }}</span>
      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex align-items-center mb-2 pb-1">
        <div class="mt-n2">
          <ng-container *ngFor="let otherV of otherVarieties; let i = index">
            <div
              class="
                custom-control
                cs-custom-size-option cs-custom-size-option-sm
                custom-control-inline
              "
            >
              <input
                type="radio"
                class="custom-control-input"
                id="v-{{ i }}"
                name="otherVarietySelected"
              />
              <label for="v-{{ i }}" class="cs-custom-option-label">{{
                otherV
              }}</label>
            </div>
          </ng-container>
        </div>
        <ng-container *ngIf="colors && colors.length > 0">
          <div class="ml-auto">
            <ng-container *ngFor="let color of colors; let i = index">
              <div
                class="
                  custom-control
                  cs-custom-color-option cs-custom-color-option-sm
                  custom-control-inline
                "
              >
                <input
                  class="custom-control-input"
                  type="radio"
                  id="color-${{ i }}"
                  data-label="colorOptionText"
                  name="colorSelected"
                />
                <label class="cs-custom-option-label" for="color-${{ i }}">
                  <span
                    class="cs-color-swatch"
                    [ngStyle]="{ 'background-color': color }"
                  ></span>
                </label>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <button
        type="button"
        (click)="goToProductDetail(product.slug)"
        class="btn btn-block btn-primary"
      >
        <i class="cxi-eye align-middle mt-n1 mr-2"></i>
        Ver producto
      </button>
    </div>
  </div>
</div>
