<Navbar></Navbar>

<!-- Promo bar -->
<section class="cs-promo-bar bg-primary py-2">
  <div class="container d-flex justify-content-center">
    <div class="cs-carousel cs-controls-inverse">
      <div
        class="cs-carousel-inner"
        data-carousel-options='{"mode": "gallery", "nav": false}'
      >
        <div class="font-size-xs text-light px-2">
          <strong class="mr-1">Up to 70% Off.</strong>
          <a href="#" class="text-light">Shop our latest sale offers</a>
        </div>
        <div class="font-size-xs text-light px-2">
          <strong class="mr-1">Money back guarantee.</strong>
          <a href="#" class="text-light">Learn more</a>
        </div>
        <div class="font-size-xs text-light px-2">
          <strong class="mr-1">Friendly customer support.</strong>
          <a href="#" class="text-light">Contact 24/7</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Hero slider -->
<section class="cs-carousel cs-controls-onhover">
  <div
    class="cs-carousel-inner"
    data-carousel-options='{
    "mode": "gallery",
    "navContainer": "#pager",
    "responsive": {
      "0": { "controls": false },
      "991": { "controls": true }
    }
  }'
  >
    <!-- Slide 1 -->
    <div
      class="bg-size-cover py-xl-6"
      style="
        background-image: url(assets/img/ecommerce/home/hero-slider/01.jpg);
      "
    >
      <div class="container pt-5 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
            <h3 class="font-size-lg text-uppercase cs-from-left cs-delay-1">
              New In
            </h3>
            <h2 class="display-2 mb-lg-5 pb-3 cs-from-left">Menswear 2021</h2>
            <div class="mb-4 cs-scale-up cs-delay-2">
              <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg"
                >Shop the menswear</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div
      class="bg-size-cover py-xl-6"
      style="
        background-image: url(assets/img/ecommerce/home/hero-slider/02.jpg);
      "
    >
      <div class="container pt-5 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
            <h3 class="font-size-lg text-uppercase cs-from-top cs-delay-1">
              New Collection
            </h3>
            <h2 class="display-2 mb-lg-5 pb-3 cs-scale-down">
              Fall-Winter 2021
            </h2>
            <div class="mb-4 cs-scale-down cs-delay-2">
              <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg"
                >Shop the collection</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div
      class="bg-size-cover py-xl-6"
      style="
        background-image: url(assets/img/ecommerce/home/hero-slider/03.jpg);
      "
    >
      <div class="container pt-5 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
            <h3 class="font-size-lg text-uppercase cs-from-left cs-delay-1">
              Limited Edition
            </h3>
            <h2 class="display-2 mb-lg-5 pb-3 cs-from-left">Leather Issue</h2>
            <div class="mb-4 cs-scale-up cs-delay-2">
              <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg"
                >Shop the collection</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 4 -->
    <div
      class="bg-size-cover py-xl-6"
      style="
        background-image: url(assets/img/ecommerce/home/hero-slider/04.jpg);
      "
    >
      <div class="container pt-5 pb-6">
        <div class="row pb-lg-6">
          <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
            <h3 class="font-size-lg text-uppercase cs-from-top cs-delay-1">
              Hottest Prices
            </h3>
            <h2 class="display-2 mb-lg-5 pb-3 cs-scale-down">Kidswear Sales</h2>
            <div class="mb-4 cs-scale-down cs-delay-2">
              <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg"
                >Shop sale now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pager -->
  <div class="container position-relative">
    <div class="row mt-lg-n5">
      <div class="col-lg-7 col-md-8 col-sm-10 offset-lg-1 offset-xl-0">
        <div class="position-relative">
          <div
            id="pager"
            class="cs-pager cs-pager-inverse mb-xl-5 pb-5 pb-md-6"
          >
            <button type="button" data-nav="0">01</button>
            <button type="button" data-nav="1">02</button>
            <button type="button" data-nav="2">03</button>
            <button type="button" data-nav="3">04</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Top categories -->
<section class="container pt-5 pt-lg-0">
  <div class="cs-carousel cs-nav-outside">
    <div
      class="cs-carousel-inner"
      data-carousel-options='{
      "controls": false,
      "responsive": {
        "0": {
          "gutter": 20
        },
        "400": {
          "items": 2,
          "gutter": 20
        },
        "520": {
          "gutter": 30
        },
        "768": {
          "items": 3,
          "gutter": 30
        }
      }
    }'
    >
      <!-- Category -->
      <a
        href="shop-catalog.html"
        class="d-block cs-image-scale cs-heading-highlight text-center"
      >
        <div class="cs-image-inner mb-3 rounded">
          <img
            src="assets/img/ecommerce/home/categories/01.jpg"
            alt="Women’s"
          />
        </div>
        <h3 class="h5 mb-1">Women’s</h3>
      </a>
      <!-- Category -->
      <a
        href="shop-catalog.html"
        class="d-block cs-image-scale cs-heading-highlight text-center"
      >
        <div class="cs-image-inner mb-3 rounded">
          <img src="assets/img/ecommerce/home/categories/02.jpg" alt="Men’s" />
        </div>
        <h3 class="h5 mb-1">Men’s</h3>
      </a>
      <!-- Category -->
      <a
        href="shop-catalog.html"
        class="d-block cs-image-scale cs-heading-highlight text-center"
      >
        <div class="cs-image-inner mb-3 rounded">
          <img src="assets/img/ecommerce/home/categories/03.jpg" alt="Kids'" />
        </div>
        <h3 class="h5 mb-1">Kids'</h3>
      </a>
    </div>
  </div>
</section>

<!-- New arrivals -->
<section
  class="
    container-fluid
    px-xl-grid-gutter
    mt-5
    mb-3 mb-sm-4
    mt-md-0
    mb-lg-5
    py-5 py-lg-6
  "
>
  <div class="text-center mb-5 pb-2">
    <h2 class="h1">New arrivals</h2>
    <p class="font-size-lg text-muted mb-1">
      Check out our latest arrivals for the upcoming season
    </p>
    <a href="shop-catalog.html" class="font-size-lg">See the collection here</a>
  </div>

  <!-- Product carousel -->
  <div class="cs-carousel cs-nav-outside">
    <div
      class="cs-carousel-inner"
      data-carousel-options='{
      "controls": false,
      "responsive": {
        "0": {
          "items": 1,
          "gutter": 20
        },
        "420": {
          "items": 2,
          "gutter": 20
        },
        "600": {
          "items": 3,
          "gutter": 20
        },
        "700": {
          "items": 3,
          "gutter": 30
        },
        "900": {
          "items": 4,
          "gutter": 30
        },
        "1200": {
          "items": 5,
          "gutter": 30
        },
        "1400": {
          "items": 6,
          "gutter": 30
        }
      }
    }'
    >
      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="assets/img/ecommerce/shop/03.jpg" alt="Product image" />
            </a>
            <div class="card-product-widgets-top">
              <div class="star-rating">
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
              </div>
            </div>
            <div class="card-product-widgets-bottom">
              <a
                href="#"
                class="btn-wishlist ml-auto"
                data-toggle="tooltip"
                data-placement="left"
                title="Add to wishlist"
              ></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link"
                >Black and white sport cap</a
              >
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$18.15</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="assets/img/ecommerce/shop/13.jpg" alt="Product image" />
            </a>
            <div class="card-product-widgets-bottom">
              <a
                href="#"
                class="btn-wishlist ml-auto"
                data-toggle="tooltip"
                data-placement="left"
                title="Add to wishlist"
              ></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link"
                >Metal bridge sunglasses</a
              >
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$89.95</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="assets/img/ecommerce/shop/04.jpg" alt="Product image" />
            </a>
            <div class="card-product-widgets-top">
              <div class="star-rating">
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star"></i>
              </div>
            </div>
            <div class="card-product-widgets-bottom">
              <a
                href="#"
                class="btn-wishlist ml-auto"
                data-toggle="tooltip"
                data-placement="left"
                title="Add to wishlist"
              ></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link">Green baby romper</a>
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$20.40</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="assets/img/ecommerce/shop/02.jpg" alt="Product image" />
            </a>
            <div class="card-product-widgets-bottom">
              <a
                href="#"
                class="btn-wishlist ml-auto"
                data-toggle="tooltip"
                data-placement="left"
                title="Add to wishlist"
              ></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link"
                >Mid-rise slim cropped fit jeans</a
              >
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$40.00</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="assets/img/ecommerce/shop/06.jpg" alt="Product image" />
            </a>
            <div class="card-product-widgets-top">
              <div class="star-rating">
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star-filled active"></i>
                <i class="sr-star cxi-star"></i>
                <i class="sr-star cxi-star"></i>
              </div>
            </div>
            <div class="card-product-widgets-bottom">
              <a
                href="#"
                class="btn-wishlist ml-auto"
                data-toggle="tooltip"
                data-placement="left"
                title="Add to wishlist"
              ></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link"
                >Red dangle earrings</a
              >
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$29.95</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="assets/img/ecommerce/shop/08.jpg" alt="Product image" />
            </a>
            <div class="card-product-widgets-bottom">
              <a
                href="#"
                class="btn-wishlist ml-auto"
                data-toggle="tooltip"
                data-placement="left"
                title="Add to wishlist"
              ></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link"
                >Baby shoes with laces</a
              >
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$30.75</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div>
        <div class="card card-product">
          <div class="card-product-img">
            <a href="shop-single.html" class="card-img-top">
              <img src="assets/img/ecommerce/shop/12.jpg" alt="Product image" />
            </a>
            <div class="card-product-widgets-bottom">
              <a
                href="#"
                class="btn-wishlist ml-auto"
                data-toggle="tooltip"
                data-placement="left"
                title="Add to wishlist"
              ></a>
            </div>
          </div>
          <div class="card-body">
            <h3 class="card-product-title text-truncate mb-2">
              <a href="shop-single.html" class="nav-link"
                >Men fashion gray shoes</a
              >
            </h3>
            <div class="d-flex align-items-center">
              <span class="h5 d-inline-block mb-0">$85.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<Footer></Footer>
