<!-- Page container -->
<section class="container pt-3 pb-5 pb-md-6 mb-2 mb-lg-0">
  <!-- Toolbar + Pagination -->
  <div class="row mb-4 pb-2">
    <div class="col-md-3 pr-lg-4 mb-3 mb-md-0">
      <!-- Show / hide filters on Desktop -->
      <div class="d-none d-lg-block">
        <h3><i class="cxi-filter-1"></i> Filtros:</h3>
      </div>

      <!-- Show / hide filters (off-canvas) on Mobile -->
      <button
        type="button"
        class="btn btn-primary btn-block mt-0 d-lg-none"
        data-toggle="offcanvas"
        data-target="filtersOffcanvas"
      >
        <i class="cxi-filter-2 mr-1"></i>
        Show filters
      </button>
    </div>

    <div class="col">
      <Toolbar-filters
        [pagination]="pagination"
        (page)="getProducts('', $event, pagination.limit)"
        (limit)="getProducts('', 1, $event)"
        (sort)="sortProducts($event)"
      ></Toolbar-filters>
    </div>
  </div>

  <div class="row flex-lg-nowrap">
    <!-- Filters (sidebar) -->
    <div id="filtersSidebar" class="col-lg-3 pr-lg-4">
      <Sidebar-categories
        (categ)="getProducts($event, 1, pagination.limit)"
      ></Sidebar-categories>
    </div>

    <!-- Product grid -->
    <div class="col">
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3"
        data-filters-columns
      >
        <!-- Item -->
        <ng-container
          *ngFor="let product of products$ | async as products; let i = index"
        >
          <Card-product
            [product]="product"
            [otherVarieties]="product.varieties[0].units"
            [colors]="product.varieties[1].units"
          ></Card-product>
        </ng-container>
      </div>

      <!-- Toolbar + Pagination -->
      <Toolbar-filters
        [pagination]="pagination"
        (page)="getProducts('', $event, pagination.limit)"
        (limit)="getProducts('', 1, $event)"
        (sort)="sortProducts($event)"
      ></Toolbar-filters>
    </div>
  </div>
</section>
