<!-- Page container -->
<section class="container pt-3 pb-5 pb-md-6 mb-2 mb-lg-0">
  <!-- Toolbar + Pagination -->
  <div class="row mb-4 pb-2">
    <div class="col-md-3 pr-lg-4 mb-3 mb-md-0">
      <!-- Show / hide filters on Desktop -->
      <div class="d-none d-lg-block">
        <h3><i class="cxi-filter-1"></i> Filtros:</h3>
      </div>

      <!-- Show / hide filters (off-canvas) on Mobile -->
      <button
        type="button"
        class="btn btn-primary btn-block mt-0 d-lg-none"
        data-toggle="offcanvas"
        data-target="filtersOffcanvas"
      >
        <i class="cxi-filter-2 mr-1"></i>
        Show filters
      </button>
    </div>

    <div class="col">
      <Toolbar-filters
        [pagination]="pagination"
        (page)="getProducts('', $event, pagination.limit)"
        (limit)="getProducts('', 1, $event)"
        (sort)="sortProducts($event)"
      ></Toolbar-filters>
    </div>
  </div>

  <div class="row flex-lg-nowrap">
    <!-- Filters (sidebar) -->
    <div id="filtersSidebar" class="col-lg-3 pr-lg-4">
      <Sidebar-categories
        (categ)="getProducts($event, 1, pagination.limit)"
      ></Sidebar-categories>
    </div>

    <!-- Product grid -->
    <div class="col">
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3"
        data-filters-columns
      >
        <!-- Item -->
        <ng-container *ngFor="let product of products$ | async">
          <div class="col pb-sm-2 mb-grid-gutter">
            <div class="card card-product mx-auto">
              <div class="card-product-img">
                <a
                  class="card-img-top pointer"
                  (click)="goToProductDetail(product.slug)"
                >
                  <img [src]="getImg(product.cover)" [alt]="product.cover" />
                </a>
                <div class="card-product-widgets-top">
                  <div class="star-rating ml-auto">
                    <ng-container
                      *ngFor="let star of [].constructor(product.stars)"
                    >
                      <i class="sr-star cxi-star-filled active"></i>
                    </ng-container>
                  </div>
                </div>
                <div class="card-product-widgets-bottom">
                  <a
                    href="#"
                    class="btn-wishlist ml-auto"
                    data-toggle="tooltip"
                    data-placement="left"
                    title="Add to wishlist"
                  ></a>
                </div>
              </div>
              <div class="card-body pb-2">
                <h3 class="card-product-title text-truncate mb-2">
                  <a href="shop-single.html" class="nav-link">{{
                    product.name
                  }}</a>
                </h3>
                <div class="d-flex align-items-center">
                  <span class="h5 d-inline-block mb-0"
                    >${{ product.price }}</span
                  >
                </div>
              </div>
              <div class="card-footer">
                <div class="d-flex align-items-center mb-2 pb-1">
                  <div class="mt-n2">
                    <ng-container
                      *ngFor="let otherV of otherVariety; let i = index"
                    >
                      <div
                        class="
                          custom-control
                          cs-custom-size-option cs-custom-size-option-sm
                          custom-control-inline
                        "
                      >
                        <input
                          type="radio"
                          class="custom-control-input"
                          id="v-{{ i }}"
                        />
                        <label for="v-{{ i }}" class="cs-custom-option-label">{{
                          otherV
                        }}</label>
                      </div>
                    </ng-container>
                  </div>
                  <ng-container *ngIf="colors">
                    <div class="ml-auto">
                      <ng-container *ngFor="let color of colors; let i = index">
                        <div
                          class="
                            custom-control
                            cs-custom-color-option cs-custom-color-option-sm
                            custom-control-inline
                          "
                        >
                          <input
                            type="radio"
                            class="custom-control-input"
                            name="color"
                            id="color-{{ i }}"
                            [value]="color"
                          />
                          <label
                            for="color-{{ i }}"
                            class="cs-custom-option-label"
                          >
                            <span
                              class="cs-color-swatch"
                              [ngStyle]="{ 'background-color': color }"
                            ></span>
                          </label>
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
                <button type="button" class="btn btn-primary btn-block">
                  <i class="cxi-cart align-middle mt-n1 mr-2"></i>
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <!-- Toolbar + Pagination -->
      <Toolbar-filters
        [pagination]="pagination"
        (page)="getProducts('', $event, pagination.limit)"
        (limit)="getProducts('', 1, $event)"
        (sort)="sortProducts($event)"
      ></Toolbar-filters>
    </div>
  </div>
</section>
